* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.atas {
    padding: 5px 0;
    background-color: rgb(40, 240, 57);

}
.container {
    width: 90%;
    margin: 0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
h4 {
    color: white;
    height: 30px;
    
}
header h1 {
    float: left;
    padding: 10px 0;
    color: rgb(40, 240, 57);
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: rgb(40, 240, 57);
    color: white;
}
.active {
    background-color: rgb(40, 240, 57);
    color: white;
}
.banner {
    height: 60vh;
    background-image: url('bacground.jpeg') ;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40, 240, 57, .6);
}
.banner h2 {
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    
}
.service {
    background-color: rgb(235, 232, 232);
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 25px 0;
    color: rgb(40, 240, 57);
}
.box {
    color: rgb(40, 240, 57);
}
.box ::after {
    content: '';
    display: block;
    clear: both;
}
.box .col-3 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.box .col-3 h4 {
    color: rgb(40, 240, 57);
    margin: 20px 0;
}
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    margin: 0 auto;
}
footer {
    padding: 30px; 
    background-color:  #333;
    color: white;
    text-align: center;
}
table {
    width: 50%; 
    margin: 20px;
    margin-left: auto;
    margin-right: auto;  
    width: 900px;
    height: 300px;
    
}
dt { 
    font-style: italic; 
    font-weight: bold; 
    font-size: 18px; 
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; 
    float: left; 
    height: 100px; 
    border-right: 1px solid #999;  
}
dd { 
    width: 600px; 
    float: right; 
}
dd.clear { 
    float: none; 
    margin: 0; 
    height: 15px; 
}
.clear { 
    clear: both; 
}
#objective { 
    width: 500px; float: left; 
}
#objective p { 
    font-family: Georgia, Serif; font-style: italic; color: #666; 
}
#pic { 
    float: right; margin: 0 80px 0 0; 
    width: 178px;
    height: 257px;
}
#h2 { 
    font-size: 20px; margin: 0 0 6px 0; position: relative; 
}
#h2span { 
    position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; 
}
#p { 
    margin: 0 0 16px 0; 
}
#a { 
    color: #999; text-decoration: none; border-bottom: 1px dotted #999; 
}
#a:hover { 
    border-bottom-style: solid; color: black; 
}
#ul { 
    margin: 0 0 32px 17px; 
}
#page-wrap { 
    width: 800px; margin: 40px auto 60px; 
}
#boxp {
    margin-left: 260px;
    margin-right: 0px;
}
#kata {
    text-align: center;
}
