#back {
    background-color: rgb(40, 240, 57);
    margin: 0;
    padding: 0;
}
#back1 {
    color: white;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}