* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eae7dc ;
}
table.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
table.pesan {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border: 1px solid #eae7dc;
    padding: 0;
    padding-top: 1px;
}
table.pesan tr {
    padding: 12px;
}
table.pesan tr td {
    padding: 15px;
}
tr {
    padding: 20px;
}
td {
    padding: 5px;
    padding-bottom: 50px;
}
tr#cen {
    text-align: center;
}
td#cen {
    text-align: center;
}
td#rig {
    text-align: right;
}
button {
    width: 86%;
}
button#del {
    width: 50%;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 360px;
    margin-right: auto;
}
#qty {
    width: 30%;
}
#item {
    width: 60%;
}
h1 {
    background-color: #eae7dc;
    color: black;
    padding: 20px;
}
hr#head {
    top: 20px;
    height: 12px;
    background: #d8c3a5;
}
img {
    width: 250px;
    border: 3px solid white;
    padding: 5px;
    margin-left: 15px;
}
section#pes {
    background-color: #d8c3a5;
    padding-top: 1px;
}
#top {
    font-size: 50px;
}
#tom {
    margin: 0;
    background-color:  #eae7dc;
}
table#tampil{
    padding-top: 40px;
    border: 1px  #eae7dc;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 100px;
}
table#tampil td#no {
    width: 10%;
}
table#tampil td#q {
    width: 15%;
}
table#tampil tr td {
    border: 1px solid #eae7dc;
}
th#tam {
    border: 1px solid #eae7dc;
}
table#tampil td {
    padding: 5px;
}
footer {
    text-align: center;
    background-color: rgba(55, 55, 55, 0.913);
    color: #eae7dc;
    padding: 10px;
}
td#res {
    text-align: center;
}